*{word-wrap:break-word}
*, body, div, span, ul, li, table, tbody, th, tr, td, img, a, input, select, option, p {margin:0;padding:0}
html, body {width:100%;height:100%;margin:0 auto;text-align:left;padding:0;-webkit-text-size-adjust:none;font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;}
textarea{resize:none}
*,body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset{margin:0;padding:0;color: #333333;}
table{empty-cells:show;border-collapse:collapse}
caption,th{text-align:left;font-weight:400}
input, textarea, keygen, select, button{font-size: 16px;color: #333333;list-style-type: none;vertical-align: middle;font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;}
ul li,.xl li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight: normal;}
em,cite,i{font-style:normal}
a{color:#666;text-decoration:none}
a img{border:none}
label{cursor:pointer}
img { border:none; }
*:focus{outline:0}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cl{zoom:1}

.fl{float:left}
.fr{float:right!important;}
.rowLast{margin-right:0}
.colLast{margin-bottom:0}
.cutstr{vertical-align:text-bottom;word-wrap:normal;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;/* Opera */ text-overflow:ellipsis;/* IE, Safari (WebKit) */}

#ajaxwaitid{display:none;position:absolute;right:0;top:0;z-index:1;padding:0 5px;background:#D00;color:#FFF}
.wrapper{width:100%;min-width:1000px;margin:0 auto;zoom:1;_width:expression((document.documentElement.clientWidth || document.body.clientWidth) < 1000 ? "1000px" : "auto")}
.mainWrap{width:1000px;margin:0 auto;padding:0;position: relative;}
.imgwap img{
	display: block;width: 100%;height: 100%;
}
.phold {
	width: 100%;
	height: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
	font-size: 0;
	overflow: hidden;
}
.imgblock{
	display: block;
	margin: 0 auto;
}
.block{
	display: block;
}
.rowright{
	margin-right: 0!important;
}
.noborder_b{
	border-bottom: 0!important;
}
.font_sm{font-size: 12px;color: #999;}
.color_blue{
	color: #3395FF;
}
.color_org{
	color: #ff6333;
}
.color_9{
	color: #999999;
}
.p_ct5{
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
}
.a_btn{
	display: block;
	border: none;
	list-style: none;
}
/*分页*/
.page{
	font-size: 16px;
	color: #666666;
	text-align: center;
	*overflow: hidden;
}
.page a{
	display: inline-block;
	font-size: 18px;
	color: #666666;
	height: 48px;
	line-height: 48px;
	width: 48px;
	cursor: pointer;
	background: #ecf1f7;
	border-radius: 5px;
	text-align: center;
	margin-right: 3px;
}
.page a.no{
	border:0;
	cursor: none;
	width: auto;
	padding: 0 5px;
}
.page a.active,.page a:hover{
	color: #FFFFFF;
	background: #ff6600;
}
.page a.pagepre,.page a.pagenext{
	background: #ecf1f7;
	color: #666666;
	width: 120px;
}
border{
	border: 1px dashed;
}
.disblock{
	display: block!important;
}
.font_center{
	width:100%;
	height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	text-align:center;
	font-size:1.6rem;
	position:absolute;
	right:0;
	top:0
}
.navleft{
	width: 200px;
}
.navright{
	width: 694px;
	padding: 20px 30px;
	border: 2px solid #e3cbab;
	background: #FFFFFF;
	position: relative;
	min-height: 545px;
}
.navright .imgmap{
	display: block;
	margin: 0 auto;
	width: auto;
	max-width:100%;
}
.p16{
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	
}
.p14{
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
.p16 span,.p14 span{
	display: inline-block;
}
.p14l22{
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	margin-bottom: 25px;
}
.p_title{
	font-size: 16px;
	line-height: 26px;
	color: #333333;
}
.p_partenter{
	font-size: 16px;
	line-height: 24px;
	color: #d2ac79;
	
}
.p_partenter span{
	display: inline-block;
	width: 2px;
	height: 16px;
	margin: 4px 15px;
	background: #d2ac79;
	vertical-align: top;
}
.partenter_pop{
	padding-left: 20px;
	margin-top: 15px;
	margin-bottom: 18px;
}
.partenter_pop li{
	list-style: disc;
	padding-left: 5px;
	font-size: 14px;
	line-height:22px ;
	list-style-image: url(../i/liststylebg.jpg) ;
}
.marginl10{
	margin-left: 10px;
}
.marginl15{
	margin-left: 15px;
}
.marginl60{
	margin-left: 60px;
}
.phold60{
	height:60px;
}
.phold20{
	height:20px;
}