body{
	height: 100%;
	/*background: url(../i/red_bg.png) repeat center center;*/
}
.wrapper{
	width: 100%;
	min-height: 100%;
	position: relative;
}
.mainWrap{
}
.footerwrap{
	height: 236px;
	width: 100%;
	position: relative;
	bottom: 0;
}
.footerwrapll{
	position: relative;
	bottom: inherit;
}

.line_box{
	width: 100%;
	height: 7px;
	border-bottom: 2px solid #d2ac79;
}
.line_box .line{
	width: 230px;
	height: 7px;
	background: #d2ac79;
}
.headwrap{
	width: 100%;
	height: 50px;
	background: #d2ac79;

	line-height: 50px;
	font-size: 18px;
}
.headwrap a{
	color: #FFFFFF;
	margin: 0 40px;
	display: inline-block;
}
.conWrap{
	width: 100%;
	height: auto;
	position: relative;
}
.footerlogo{
	width: 200px;
	height: 58px;
	background: url(../i/logo.png) no-repeat center center;
}
.footlink{
	width: 420px;
	height: 58px;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	font-family: arial;
}
.ptel{
	background: url(../i/icon.png) no-repeat left center ;
}
.ptel span{
	display: inline-block;
}
.ptel span.span1{
	margin-left: 43px;
	outline: none;
	text-decoration:none;
}
.pEng{
	margin-top: 10px;
}
.congo{
	width: 100%;
	position: absolute;
	bottom: 7.3%;
	text-align: center;
}
.congo a{
	display: inline-block;
	width: auto;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	margin: 0 13px;
}
.indexlogo{
	background: url(../i/logo.gif) no-repeat center center;
}
.wrapperbg{
	background: url(../i/bg.jpg) repeat center center;
}
.conWrapbg{
	/*height: 785px;*/
	min-height: 785px;
	padding-bottom: 20px;
	background: #f7f7f6;
}
.navleftul li{
	padding-left: 33px;
	height: 28px;
	line-height: 28px;
	margin-bottom: 17px;
}
.navleftul li a{
	display: block;
	color: #c6c6c6;
	line-height: 28px;
	font-size: 16px;
	cursor: pointer;
}
.span_circle{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #cccccc;
	margin: 9px 18px 9px 3px;
	vertical-align: top;
}
.navleftul li.on a,.navleftul li:hover a{
	color: #d2ac79;
	font-size: 20px;

}
.navleftul li.on .span_circle,.navleftul li:hover .span_circle{
	width: 16px;
	height: 16px;
	background: #d2ac79;
	margin: 6px 15px 6px 0px;
}
.btn_copy{
	width: 100px;
	height: 28px;
	line-height: 28px;
	color: #FFFFFF;
	background: #d2ac79;
	font-size: 14px;
	text-align: center;
	position: absolute;
	bottom: 18px;
	right: 80px;
	border-radius: 2px;
}
.a_back{
	width: 55px;
	height: 18px;
	background: url(../i/aback.png) no-repeat center center;
	cursor: pointer;
	position: absolute;
	bottom: 22px;
	right: 40px;
}
.ENa_back{
	width: 62px;
	height: 18px;
	background: url(../i/ENaback.png) no-repeat center center;
	cursor: pointer;
	position: absolute;
	bottom: 22px;
	right: 40px;
}
.partentcimg{
	height: 385px;
}
.partentright{
	height: 345px;
}
.partentright img{
	display: block;
	height: 100%;
	width: auto;
	margin: 0 auto;
}
.partentleft{
	width: 175px;
}
.partnerul li{
	width: 205px;
	float: left;
	padding-left: 23px;
	position: relative;
	margin-bottom:20px;
}
.partnerul li span.circle{
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #E3CBAB;
	top: 7px;
	left: 0;
	top: ;
}
.conWrapNav{
	/* height: 767px; */
	height:auto;
	padding-bottom: 50px;
	background: #d2ac79;
}
.navbanner{
	width: 100%;
	height: 350px;
}
.bannerbox{
	width: 100%;
	height: 100%;
	position: relative;
}
.bannerbox li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	animation: backgroundmove 20s linear 0s both infinite;
	-webkit-animation: backgroundmove 20s linear 0s both infinite;
	-ms-animation: backgroundmove 20s linear 0s both infinite;
	-moz-animation: backgroundmove 20s linear 0s both infinite;
}
.bannerLi1{
	background: url(../i/banner1.jpg) no-repeat center bottom;
	background-size:100% auto ;
}
.bannerLi2{
	background: url(../i/banner2.jpg) no-repeat center bottom;
	background-size:100% auto ;
}
@-webkit-keyframes backgroundmove{
	from{background-position:center bottom ;}
	to{background-position:center top ;}
}
@-ms-keyframes backgroundmove{
	from{background-position:center bottom ;}
	to{background-position:center top ;}
}
@-moz-keyframes backgroundmove{
	from{background-position:center bottom ;}
	to{background-position:center top ;}
}
@keyframes backgroundmove{
	from{background-position:center bottom ;}
	to{background-position:center top ;}
}
.navul{
	width: 975px;
	margin-left: 25px;
	height: 24px;
	line-height: 24px;
	position: relative;
}
.navul .navline{
	width: 972px;
	height: 1px;
	position: absolute;
	top: 12px;
	left: 3px;
	background: #FFFFFF;
}
.navli{
	float: left;
}
.navli,.navli a{
	display: block;
	width: 170px;
	height: 24px;
	line-height: 24px;
	font-size: 22px;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
}
.navli a .navspan{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFFFFF;
	position: absolute;
	top:7px ;
	left: 3px;
	color: #FFFFFF;
	z-index: 22;
}
.navli:hover a .navspan{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #FFFFFF;
	position: absolute;
	top:4px;
	left: 0px;
}
.navcon{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px ;
	left: 13px;
	text-align: center;
	box-sizing: border-box;
	background: #D2AC79;
	/* overflow: hidden; */
	color: #FFFFFF;
	transform-origin: center left;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
	-ms-transform-origin: center left;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
}
.navli:hover a .navcon{
	width: 100%;
}
.navli1 a .navspan{
	animation: heartb 2s linear infinite both;
	-webkit-animation: heartb 2s linear infinite both;
	-ms-animation: heartb 2s linear infinite both;
	-moz-animation: heartb 2s linear infinite both;
}
.aboutUsleft{
	width:340px;
}
.aboutUsimg{
	width:340px;
	margin-left:10px;
}
.aboutUsimg img{
	display:block;
	width:100%;
}
.p1624marleft{
	padding-left:30px;
	position:relative;
	box-sizing:border-box;
	font-size:16px;
	line-height:24px;
	color:#d2ac79;
	margin-bottom:6px;
}
.p1624marleft .spand{
	display:block;
	width:10px;
	height:10px;
	border-radius:50%;
	position:absolute;
	top:7px;
	left:10px;
	background:#d2ac79;
}
.marginLeft30{
	margin-left:30px;
	box-sizing:border-box;
}
@keyframes heartb{
	0%,20%,40%{
		width: 10px;
		height: 10px;
		top:7px ;
		left: 3px;
	}
	10%,30%{
		width: 16px;
		height: 16px;
		top:4px;
		left: 0px;
	}
}
@-webkit-keyframes heartb{
	0%,20%,40%{
		width: 10px;
		height: 10px;
		top:7px ;
		left: 3px;
	}
	10%,30%{
		width: 16px;
		height: 16px;
		top:4px;
		left: 0px;
	}
}
@-ms-keyframes heartb{
	0%,20%,40%{
		width: 10px;
		height: 10px;
		top:7px ;
		left: 3px;
	}
	10%,30%{
		width: 16px;
		height: 16px;
		top:4px;
		left: 0px;
	}
}
@-moz-keyframes heartb{
	0%,20%,40%{
		width: 10px;
		height: 10px;
		top:7px ;
		left: 3px;
	}
	10%,30%{
		width: 16px;
		height: 16px;
		top:4px;
		left: 0px;
	}
}
