<IfModule authz_core_module>
    Require all granted
    <FilesMatch "\.(css|js|jp?g|png|gif|md|php)$">
    	Require all granted
    </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
